.node {
  cursor: pointer;
}

.node text {
  font: 11px 'Montserrat', sans-serif;
  font-weight: 600;
}
.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

body {
  overflow: hidden;
}

svg{
  background: rgb(255, 255, 255);
  position: relative;
  left: 50%;
  transform: translate(-50%,0);
  cursor: grab;
  border: 1px solid lightgrey;
}
svg:active{
  cursor: grabbing;
}
